<mat-toolbar>
  <span class="filter-toolbar"></span>
  <button mat-icon-button focusable="false" (click)="onChangeDisplay()">
    <mat-icon>view_module</mat-icon>
  </button>
  <button mat-button mat-mini-fab routerLink="add" color="primary">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>
<div class="container">
  <mat-card
    class="card-container"
    *ngFor="let product of productWithCategories$ | async"
    [routerLink]="['edit', product.id]"
  >
    <img
      mat-card-lg-image
      [src]="product.mainImage | imageUrlPipe: 'images/products/':'/assets/img/no-image.png':product.id"
    />
  </mat-card>
</div>
