mat-card {    
    max-width: 95%;    
    margin: 2em auto;       
  }  

  .link-to-products {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 410px;
    width: 100%;
    text-align: center;
}
