mat-card {    
    max-width: 95%;    
    margin: 2em auto;       
  }  

  .hide-order-detail{
    display: none;
    visibility: hidden;
  }

  .fixed-list-width{
    width: 500px;
  } 

  .max-list-width{
    width: 100%;
  }

.element-cell-position{
  vertical-align: top;
}