mat-card {    
    max-width: 95%;    
    margin: 2em auto;       
  }  

  .hide-order-detail{
    display: none;
    visibility: hidden;
  }

  .fixed-list-width{
    width: 500px;
  } 

  .max-list-width{
    width: 100%;
  }

/*
// could be needed if style in dialog need to be different
  @media screen and (max-width: 720px) {
    
    .order-detail{
      display: none;
      visibility: hidden;
    }
  }
  */