<mat-toolbar color="primary">
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toggle($event)">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>

  <span style="flex: 1 1 auto"></span>
  <button *ngIf="user$ | async" mat-button>
    <mat-icon matBadge="0" matBadgeColor="warn">shopping_cart</mat-icon>
  </button>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngIf="user$ | async; else logIn" (click)="logOut()">
      <mat-icon>settings_power</mat-icon>
      <span>Log Out</span>
    </button>
    <ng-template #logIn>
      <button mat-menu-item routerLink="login">
        <mat-icon>login</mat-icon>
        <span>LogIn</span>
      </button>
    </ng-template>
  </mat-menu>
</mat-toolbar>
