<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-subtitle>No account yet? <a>Signup</a>!</mat-card-subtitle>
  <mat-card-content>
  <form
    [formGroup]="logInFormGroup"
    (ngSubmit)="submitLoginData()"
    data-test="login-form"
  >
    <div>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" [errorStateMatcher]="matcher" type="email" data-test="login-email"/>
        <mat-hint>abc@efg.xy</mat-hint>
        <mat-error *ngIf="logInFormGroup.hasError('email') && !logInFormGroup.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="logInFormGroup.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput
               formControlName="password"
               type="password"
               data-test="login-password"/>
      </mat-form-field>
    </div>
    <button
      mat-stroked-button
      type="submit"
      [disabled] = logInFormGroup.invalid
    >Login</button>
  </form>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Signup</mat-card-title>
  <mat-card-subtitle>Create your account</mat-card-subtitle>
  <mat-card-content>
    <form
      [formGroup]="signUpFormGroup"
      (ngSubmit)="submitSignUp()"
      data-test="login-form"
    >
      <div>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="emailSignUp" [errorStateMatcher]="matcher" type="email" data-test="login-email"/>
          <mat-hint>abc@efg.xy</mat-hint>
          <mat-error *ngIf="signUpFormGroup.hasError('email') && !signUpFormGroup.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="signUpFormGroup.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput
                 formControlName="passwordSignUp"
                 type="password"
                 data-test="login-password"/>
        </mat-form-field>
      </div>
      <button
        mat-stroked-button
        type="submit"
        [disabled] = signUpFormGroup.invalid
      >Sign Up</button>
    </form>
  </mat-card-content>
  <button
    mat-stroked-button
    type="button"
    [disabled] = !user
    (click)="logOut()"
  >Logout</button>
  <pre>{{user | json}}</pre>
  <pre>{{userData | json}}</pre>
</mat-card>
