<div class="mat-elevation-z8">
  <mat-toolbar>
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input />
    </mat-form-field>
    <span class="filter-toolbar"></span>
    <button mat-button mat-fab aria-label="Example icon button with a heart icon" routerLink="add" color="primary">
      <mat-icon>add_circle</mat-icon>
    </button>
  </mat-toolbar>

  <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
    <!--ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container-->

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
      <td mat-cell *matCellDef="let row">{{ row?.category?.name }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button focusable="false" [routerLink]="['edit', element.id]">
          <mat-icon color="primary">edit</mat-icon>
        </button>
        <!--button mat-icon-button focusable="false" (click)="openDialog(element, 'Delete')">
          <mat-icon color="warn">delete</mat-icon>
        </button-->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    #paginator
    [length]="dataSource?.data?.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
