<div class="mat-elevation-z8">
  <app-filter (filter)="applyFilter($event)">
    <ng-container *ngIf="user$ | async as user">
      <button mat-icon-button focusable="false" (click)="onChangeDisplay()" *ngIf="user.admin">
        <mat-icon>list</mat-icon>
      </button>
      <button mat-button mat-mini-fab [routerLink]="['add']" color="primary">
        <mat-icon>add</mat-icon>
      </button>
    </ng-container>
  </app-filter>

  <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
      <td mat-cell *matCellDef="let row">{{ row?.category?.name }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button focusable="false" [routerLink]="['view', element.id]">
          <mat-icon color="primary">preview</mat-icon>
        </button>
        <ng-container *ngIf="user$ | async as user">
          <button *ngIf="user.uid === element.ownerId" mat-icon-button focusable="false" (click)="openDialog(element)">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="test(row)"></tr>
  </table>

  <mat-paginator
    #paginator
    [length]="dataSource?.data?.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
