<ng-container *ngIf="user$ | async as user">
  <ng-container *ngIf="product$ | async as product">
    <mat-toolbar>
      <span class="filter-toolbar"></span>
      <ng-container *ngIf="product.ownerId === user.uid; else addToShoppingCart">
        <button mat-button mat-mini-fab [routerLink]="['/products/edit', product.id]" color="primary">
          <mat-icon>edit</mat-icon>
        </button>
      </ng-container>
      <ng-template #addToShoppingCart>
        <ng-container *ngIf="!user.admin">
          <button *ngIf="product.type === 'CUSTOM'" mat-button (click)="contactProductOwner(product)" color="primary">
            Contact user
          </button>
          <button *ngIf="product.type === 'ENTREPRISE'" mat-button (click)="addToCart(product)" color="primary">
            Add To Cart
          </button>
        </ng-container>
      </ng-template>
    </mat-toolbar>
  </ng-container>
</ng-container>
<mat-card>
  <mat-card-content>
    <div *ngIf="product$ | async as product" class="container">
      <div class="fileupload">
        <img
          mat-card-lg-image
          [src]="product.images[0] | imageUrlPipe: 'images/products/':'/assets/img/no-image.png':product.id"
        />
        <div>
          <img
            *ngFor="let image of product.images"
            mat-card-sm-image
            [src]="image | imageUrlPipe: 'images/products/':'/assets/img/no-image.png':product.id"
          />
        </div>
      </div>
      <div>
        <div class="product-info">
          <h1>{{ product.name }}</h1>
          <br />
          {{ product.price | currency: 'EUR':'symbol' }}
          <br />
          <br />
          <h4>{{ product.category?.name }}</h4>
          <h1>Description</h1>
          {{ product.description }}
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
