hr.divider {
    border-top: 3px solid #bbb;
  }

  .remove-detail{
    text-align: center;
    cursor: pointer;
  }
  
  .inner-container{
    display: inherit; 
    position: relative;
  }


  .order-total{
    display: flex;
    flex-direction: row-reverse;
    -webkit-text-stroke: medium;
  }