<div *ngIf="order">
  <mat-toolbar *ngIf="allowUpdate">
    <span style="flex: 1 1 auto"></span>
    <button [disabled]="order.details.length === 0" mat-button color="primary" (click)="clearShoppingCart()">
      Clear
    </button>
    <button [disabled]="order.details.length === 0" mat-button color="primary" (click)="save()">Save</button>
  </mat-toolbar>

  <div *ngFor="let detail of allowUpdate ? details : order.details; let i = index">
    <table style="width: 100%">
      <thead>
        <tr>
          <td rowspan="2" *ngIf="allowUpdate" class="remove-detail">
            <a (click)="remove(detail)">
              <mat-icon color="warn">remove_circle</mat-icon>
            </a>
          </td>
          <td rowspan="2"><img src="/assets/img/no-image.png" mat-card-sm-image /></td>
          <td style="width: 65%" colspan="3">{{ detail.productId }}</td>
        </tr>
        <tr>
          <td style="width: 20%">{{ detail.orderPrice | currency: 'EUR':'symbol' }}</td>
          <td style="width: 20%">
            <mat-form-field style="width: 40px">
              <input matInput type="number" [(ngModel)]="detail.quantity" [readonly]="!allowUpdate" />
            </mat-form-field>
          </td>
          <td style="width: 20%">
            {{ detail.orderPrice | productTotalPipe: detail.quantity | currency: 'EUR':'symbol' }}
          </td>
        </tr>
      </thead>
    </table>
  </div>
</div>
