<mat-toolbar *ngIf="allowUpdate">
  <span style="flex: 1 1 auto"></span>
  <button [disabled]="!order || order.details.length === 0" mat-button color="primary" (click)="clearShoppingCart()">
    Clear
  </button>
  <button [disabled]="!order || order.details.length === 0" mat-button color="primary" (click)="save()">Save</button>
  <button [disabled]="!order || order.details.length === 0" mat-button color="primary" (click)="submit()">
    Submit Order
  </button>
</mat-toolbar>
<div *ngIf="order">
  <div *ngFor="let detail of allowUpdate ? details : order.details; let i = index">
    <hr *ngIf="i > 0" class="divider" />
    <table style="width: 100%; margin-top: 5px">
      <thead>
        <tr>
          <td rowspan="3" style="width: 20%" *ngIf="allowUpdate" class="remove-detail">
            <a (click)="remove(detail)">
              <mat-icon color="warn">remove_circle</mat-icon>
            </a>
          </td>
          <td rowspan="3" style="width: 20%"><img src="/assets/img/no-image.png" mat-card-sm-image /></td>
          <td style="width: 60%" colspan="3">{{ detail.productId }}</td>
        </tr>
        <tr>
          <td style="width: 30%">{{ detail.orderPrice | currency: 'EUR':'symbol' }}</td>
          <td style="width: 20%">
            <mat-form-field style="width: 40px">
              <input
                matInput
                type="number"
                [(ngModel)]="detail.quantity"
                [readonly]="!allowUpdate"
                min="1"
                (change)="change(detail)"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            {{ detail.orderPrice | productTotalPipe: detail.quantity | currency: 'EUR':'symbol' }}
          </td>
        </tr>
      </thead>
    </table>
  </div>
  <div *ngIf="allowUpdate" class="order-total">
    <div>Total : {{ order.total | orderTotalPipe: details | currency: 'EUR':'symbol' }}</div>
  </div>
</div>
