<app-main-toolbar (toggleSideNave)="toggel()"></app-main-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <ng-container *ngIf="user$ | async as user">
        <a mat-list-item *ngIf="user.admin" [routerLink]="['/product-category']">Categories</a>
        <a mat-list-item [routerLink]="['/orders']">Orders</a>
      </ng-container>
      <a mat-list-item [routerLink]="['/products']">Products</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="height: 90%">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
